EEEDE7 B9B7BD 868B8E
:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    255,255,255;
--color-neutral-300:    255,255,255;
--color-neutral-400:    255,255,255;
--color-neutral-500:    238,237,231;
--color-neutral-600:    221,219,207;
--color-neutral-700:    204,201,183;
--color-neutral-800:    187,183,159;
--color-neutral-900:    170,165,135;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,255,255;
--color-primary-400:    224,223,226;
--color-primary-500:    185,183,189;
--color-primary-600:    164,162,169;
--color-primary-700:    144,140,150;
--color-primary-800:    123,119,130;
--color-primary-900:    103,100,109;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    253,253,253;
--color-secondary-300:    213,215,216;
--color-secondary-400:    174,177,179;
--color-secondary-500:    134,139,142;
--color-secondary-600:    114,119,122;
--color-secondary-700:    94,98,101;
--color-secondary-800:    74,77,79;
--color-secondary-900:    54,57,58;
}
